Executable=/private/tmp/nextagent-src/NextAgent_v0.1.0/build/Build/Products/Release-iphoneos/Next Agent.app/Next Agent
warning: Specifying ':' in the path is deprecated and will not work in a future release
<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><dict></dict></plist>
