<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
<key>Label</key><string>uk.zeshanbarvi.nextagentd</string>
<key>ProgramArguments</key><array><string>/usr/local/libexec/nextagentd</string></array>
<key>RunAtLoad</key><true/>
<key>KeepAlive</key><true/>
<key>ThrottleInterval</key><integer>3</integer>
<key>UserName</key><string>root</string>
<key>StandardOutPath</key><string>/rootfs/var/mobile/Library/NextAgent/nextagentd.log</string>
<key>StandardErrorPath</key><string>/rootfs/var/mobile/Library/NextAgent/nextagentd.log</string>
</dict></plist>
